.todo-list-page {
  padding: 25px;

  .page-header {
    padding: 25px;
    font-size: 2em;
    display: flex;
    justify-content: space-between;
  }
}

table {
  width: 100%;
}

.greenColor {
  color: greenyellow;
}

.orangeColor {
  color: orange;
}
